.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #006039;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-family: "Montserrat", sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    transition: width 0.3s ease;
    z-index: 10; /* Make sure it's above the content */

    .menu-title,
    .tools-title {
        font-size: 15px;
        font-weight: 400;
        word-wrap: break-word;
        margin-bottom: 10px;
    }

    .menu-title {
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        padding-bottom: 5px;
    }

    .menu-item {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 10px;
        font-size: 15px;
        font-weight: 500;
        cursor: pointer;
        transition: background 0.3s ease;
        border-radius: 5px;

        i {
            font-size: 18px;
        }

        &:hover {
            background: rgba(255, 255, 255, 0.2);
        }
    }

    .tools-title {
        margin-top: 15px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        padding-bottom: 5px;
    }

    .dropdown {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        padding: 10px;
        font-size: 15px;
        font-weight: 500;
        transition: background 0.3s ease;
        border-radius: 5px;

        &:hover {
            background: rgba(255, 255, 255, 0.2);
        }
    }

    .submenu {
        display: none;
        flex-direction: column;
        padding-left: 20px;
        margin-top: 10px;

        &.open {
            display: flex;
        }

        .submenu-item {
            padding: 8px 0;
            font-size: 14px;
            font-weight: 400;
            cursor: pointer;
            border-radius: 5px;

            &:hover {
                color: #a37e2c;
            }
        }
    }

    @media (max-width: 768px) {
        width: 200px;

        .submenu {
            padding-left: 10px;
        }

        .menu-item {
            font-size: 14px;
        }

        .submenu-item {
            font-size: 13px;
        }
    }
}
