.collapse-toggle {
    text-align: center;
    padding: 10px 0;
    background: #001529;
    color: #fff;
    cursor: pointer;
}

.ant-menu {
    flex: 1;
    background: transparent;
    border-right: 0;
}

.ant-menu-item {
    &.ant-menu-item-selected {
        background: #1890ff !important; // Blue highlight for selected item
        color: #fff !important;
    }
}
